html{
    font-size: 100%;
}

body{
    margin: 0;
}

.logo{
    background: url("images/logo2.png") no-repeat;
    width: 20%;
    height: 25vh;
    /* margin-left: 90px; */
    margin-left: 7vw;
    display: inline-block;
    margin-top: -2vh;
}

.header{
    background: url("images/bg2.jpg") no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}

.topbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    /* top: -25px; */
    top: -3vh;
}

.navigation ul{
    display: flex;
    list-style-type: none;
    /* margin-right: 5em; */
    margin-right: 5vw;
}

.navigation li{
    padding: 20px 60px 10px 10px;
    font-weight: bold;
}

.navigation li a{
    color: white;
    text-decoration: none;
}

.navigation a:hover{
    border-bottom: 1px solid wheat;
    color: wheat;
    padding-bottom: 20px;
}

.header-content{
    color: white;
    /* padding-top: 200px; */
    padding-top: 32vh;
    /* padding-left: 100px; */
    padding-left: 7.5vw;
    /* font-size: 1.875em; */
    font-size: 1.9rem;
}

.text{
    width: 70vw;
    font-size: 1rem;
    line-height: 150%;
}

.text a{
    color: #fff;
}

.header-buttons{
    /* margin-top: 35px; */
    margin-top: 6vh;
}

.header-buttons button{
    /* padding: 15px 40px 15px 40px; */
    padding: 2.5vh 3vw 2.5vh 3vw;
    /* font-size: 15px; */
    font-size: 1rem;
    border: 0;
}

.header-buttons button a{
    color: black;
    text-decoration: none;
}

.header-buttons button:first-child{
    background: orangered;
    transition: all 0.9s ease;
}

.header-buttons button:last-child{
    opacity: 0.5;
    margin-left: 10px;
    transition: all 0.9s ease;
}

.header-buttons span{
    font-weight: bold;
    font-size: 1.25em;
}

.header-buttons button:first-child:hover{
    background-color: goldenrod;
}

.header-buttons button:last-child:hover{
    opacity: 0.8;
}

.section{
    margin-top: 30px;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(45deg, #FFFFFF, #FAF8F9, #EEEEEE);
}

.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 50px; 
}

.about-text{
    width: 45vw;
    font-size: 1rem;
}

.card-container{
    /* width: 320px; */
    width: 23.5vw;
    /* height: 400px; */
    height: 68vh;
}

.card{
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all 0.9s ease;
    transform-style: preserve-3d;
}

.card-container:hover .card{
    transform: rotateY(180deg);
}

.front, .back{
    width: 100%;
    height: 100%;
    position: absolute;
}

.front{
    backface-visibility: hidden;
    transform: rotateY(0deg); /* for mozilla */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid #eee;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.back{
    transform: rotateY(180deg);
    backface-visibility: hidden;

    border: 1px solid #eee;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.front img{
    /* width: 200px; */
    width: 15vw;
    /* height: 200px; */
    height: 33vh;
    border-radius: 50%;
}

#name{
    /* font-size: 1.25em; */
    font-size: 1.26rem;
}

.front p{
    font-size: 1.08rem;
}

.back p{
    /* font-size: 1.125em; */
    font-size: 1.13rem;
}

.icons img{
    /* width: 35px; */
    width: 2.5vw;
    /* height: 35px; */
    height: 5.5vh;
    /* margin-right: 15px; */
    margin-right: 1.2vw;
}

/* .icons img:hover{
    padding-bottom: 10px;
    border-bottom: 1px solid orangered;
} */

.icons{
    display: flex;
}

.contact{
    /* margin-top: 150px; */
    margin-top: 25vh;
    align-self: flex-start;
    margin-left: 8%;
    height: 100%;
}

input{
    /* width: 600px; */
    width: 45vw;
    /* height: 50px; */
    height: 8.1vh;
    display: block;
    /* margin-bottom: 10px; */
    margin-bottom: 2%;
    border: 0;
    border-bottom: 1px solid black;
    background-color: #ffffff15;
}

textarea{
    border: 0;
    border-bottom: 1px solid black;
    background-color: #ffffff15;
}

#input-name, #input-mail, textarea{
    /* font-size: 16px; */
    font-size: 1.1rem;
    padding-top: 15px;
}

#submit-button{
    /* margin-top: 50px; */
    margin-top: 7%;
    /* width: 120px; */
    width: 9vw;
    border: 0;
    background-color: black;
    color: white;
}

#submit-button:hover{
    opacity: 0.7;
    transition: all 0.9s ease;
}

.contact h1{
    /* font-size: 50px; */
    font-size: 3.1rem;
}

#mymail{
    color: black;
    font-weight: bold;
}

input:focus, #text-area:focus{
    outline: none !important;
}

textarea:focus{
    outline: none !important;
}
